<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<h1> {{ title }} </h1>
<h2> {{ text }} </h2>
                    <ul>
                        {% for food in list %}
                            <li>{{food}}                <button>купить</button></li>
                        {% endfor %}
                    </ul>
<p><form action = "{{dict.Title.extra_context.url}}"><button>{{dict.Title.extra_context.name}}</button></form></p>
</body>
</html>